{
	"test": ".*\\.ts$",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": false,
			"dynamicImport": false
		},
		"target": "es2020",
		"loose": false,
		"externalHelpers": false
	},
	"isModule": true
}